@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "burtons";
  src: url("../public/Burtons.otf");
}

.cards{
  box-shadow: 0 0 1rem 0.5rem rgba(0, 0, 0, 0.5);
  transition: all 0.5s;
  opacity: 0.5;
  border: 0.5rem;
}

.cards:hover{
  box-shadow: 0 0 2rem 0.2rem #ffa500;
  border: none;
  opacity: 1;
}

.opaltext0{
  opacity: 0;
  transition: all 0.5s;
}

.opaltext1{
  opacity: 0;
  transition: all 0.5s;
}

.opaltext2{
  opacity: 0;
  transition: all 0.5s;
}
/*
.slide-visible.slide-current .opaltext{
  opacity: 1;
}

.prev-cloned .opaltext{
  opacity: 1;
}

.next-cloned .opaltext{
  opacity: 1;
} */

.show {
  opacity: 1;
}

.animate{
  -webkit-animation-name: opacityAnimation;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease;
  -webkit-animation-fill-mode: forwards;
  animation: opacityAnimation 0.5s ease-in-out backwards;
}

@-webkit-keyframes opacityAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}